body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
$color-test: #e96900; 
$color-primary: $color-test;
.container {
    $size: 100px;
    .item {
        width: $size;
        height: $size / 2;
        margin:20px;
        background: tomato;
        &.active {
            color:tomato;
            background: #ccc;
        }
        &:nth-child(1) {
            font-weight: bold;
        }
        .desc {
            font-size:14px;
        }
    }
}

.container2 {
    $w: 100px;
    $h: 100px;
    .item2 {
        width: $w;
        height: $h;
    }
    @at-root .outside_box {
        width: $w;
        height: $h;
        background: #ddd;
    }
}
.outside_box {
    color: $color-primary;
    font: {
        size: 16px;
        weight: bold;
    };
    margin: {
        top: 10px;
        left: 10px;
    };
    padding: {
        bottom: 10px;
        right: 10px;
    }
}
.global-wrap {
    $global-test:blue;
}
.global1 {
    $global-test: orange !global;
    background: $global-test;
}
.global2 {
    background: $global-test;
}
.global3 {
    $global-test: pink;
    background: $global-test;
}
.global4 {
    background: $global-test;
}